<!DOCTYPE html>
<html lang="en">
<head>
    <title>User details</title>
    <link rel="icon" type="image/png" href="{{ asset('artycmp.png') }}" />
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href={{ asset('home.css')  }}>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href={{ asset('login.css')  }}>
</head>
<body style="background-color: #905E96;">
<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">Artycamp</a>
        </div>
        <ul class="nav navbar-nav">
            <li class="active"><a href={{ path('app_home') }}>Home</a></li>
        </ul>
    </div>
</nav>




{% block body %}
    <h1>User</h1>

    <table class="table">
        <tbody>
<!--
            <tr>
              <th>Id</th>
                <td>{{ user.id }}</td>
            </tr> -->
            <tr>
                <th>Nom</th>
                <td>{{ user.nom }}</td>
            </tr>
            <tr>
                <th>Prenom</th>
                <td>{{ user.prenom }}</td>
            </tr>
            <tr>
                <th>Username</th>
                <td>{{ user.username }}</td>
            </tr>
            <tr>
                <th>Password</th>
                <td>{{ user.password }}</td>
            </tr>
            <tr>
                <th>Role</th>
                <td>{{ user.role }}</td>
            </tr>
            <tr>
                <th>Mail</th>
                <td>{{ user.mail }}</td>
            </tr>
            <tr>
                <th>Image</th>
                <td><img src={{asset('uploads/users/'  ~ user.image ) }} width="10%"></td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_user_index') }}">back to list</a>
<!--
    <a href="{{ path('app_user_edit', {'id': user.id}) }}">edit</a>  -->

    {{ include('user/_delete_form.html.twig') }}
{% endblock %}
